
.badge {
  appearance: none;
  border: 1px solid get($color, midgrey);
  border-radius: get($radius, sm);
  white-space: nowrap;
  min-height: 32px;
  color: get($color, darkgrey);
  background: get($color, midgrey);
  font-size: get($font, size, 1);
  font-weight: get($font, weight, md);
  @include padding(0 $size);
  @include flex();
}