body {
  color: get($color, grey, light);
  font-family: get($font, family);
  font-size: get($font, size, 2);
  font-weight: get($font, weight, 2);
  line-height: get($font, height, 2);
  -webkit-font-smoothing: antialiased;
}

strong {
  font-weight: get($font, weight, 2);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: get($font, weight, 3);
  color: get($color, white);
}

h2 {
  font-size: get($font, size, 3);
  font-weight: get($font, weight, 4);
}

h3 {
  font-size: get($font, size, 2);
}

a {
  color: get($color, white);
  font-weight: get($font, weight, 2);
  transition: color .2s;

  &:hover {
    color: get($color, white);
  }

  &.router-link-exact-active {
    color: get($color, white);
  }
}

i {
  font-size: get($font, size, 4);
}

strong {
  color: get($color, white);
}

span, a {
  @include flex(flex-start, center, row);
}

p {
  line-height: get($font, height, 4);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');