$breakpoint: (
  xs: 584px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1400px
);

$color: (
  white: #FFFFFF,
  lightgrey: #FBFCFC,
  midgrey: #F3F3F3,
  darkgrey: #707683,
  black: #111B30,
  blue: #3467EF,
  yellow: #FACA50,
  red: #E6496F,
  green: #42B98E
);

$font: (
  family: ("Inter", Helvetica, sans-serif),
  size: (
    xs: 14px,
    sm: 16px,
    md: 18px,
    lg: 20px,
    xl: 30px
  ),
  weight: (
    sm: 500,
    md: 600,
    lg: 700,
  ),
  height: (
    sm: 1,
    md: 1.6,
    lg: 1.8
  )
);

$radius: (
  sm: 4px,
  md: 8px,
  lg: 100%
);

$size: 8px;
$shadow: 0 2px 4px transparentize(get($color, darkgrey), .98);