$breakpoint: (
  sm: 544px,
  md: 768px,
  lg: 1012px,
  xl: 1280px
);

$font-family: "Inter", Helvetica, Arial, sans-serif;

$font-size: (
  1: 12px,
  2: 14px,
  3: 16px,
  4: 18px,
  5: 20px,
  6: 22px,
  7: 24px,
  8: 26px,
  9: 32px,
  10: 40px,
  11: 48px,
);

$font-weight: (
  light: 400,
  bold: 600,
);

$line-height: (
  sm: 1,
  md: 1.3,
  lg: 1.6,
);

$color: (
  white: #fff,
  grey: (
    100: #111,
    200: #333,
    300: #666,
  ),
  black: #000,
  purple: #5433FF,
  blue: #2C65E3,
  green: #4FC69B,
  yellow: #F4C54A,
  red: #E64952,
);

$border-radius: (
  sm: 4px,
  md: 8px,
  lg: 100%
);

$size: 8px;
