$breakpoint: (
  sm: 544px,
  md: 768px,
  lg: 1012px,
  xl: 1280px
);

$color: (
  white: #FFFFFF,
  grey: (
    light: #868D94,
    mid: #2C2E33,
    dark: #1C1D22,
    darkest: #14151A
  ),
  black: #191B1E,
  blue: #2C65E3,
  yellow: #F4C54A,
  red: #E64952,
  green: #4FC69B,
  purple: #5433FF
);

$font: (
  family: ("Inter", Helvetica, Arial, sans-serif),
  size: (
    1: 12px,
    2: 14px,
    3: 16px,
    4: 18px,
    5: 20px,
    6: 22px,
    7: 24px,
    8: 26px,
    9: 32px,
    10: 40px,
    11: 48px,
  ),
  weight: (
    1: 400,
    2: 500,
    3: 600,
    4: 700,
  ),
  height: (
    1: 1,
    2: 1.4,
    3: 1.8,
    4: 2
  )
);

$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 32px;
$font-size-7: 40px;
$font-size-8: 48px;

$font-size-1-mobile: 12px;
$font-size-2-mobile: 14px;
$font-size-3-mobile: 16px;
$font-size-4-mobile: 18px;
$font-size-5-mobile: 22px;
$font-size-6-mobile: 26px;
$font-size-7-mobile: 32px;
$font-size-8-mobile: 40px;

$radius: (
  1: 5px,
  2: 8px,
  3: 100%
);

$shadow: (
  1: 0 4px 16px transparentize(get($color, black), .98),
  2: 0 6px 24px transparentize(get($color, black), .96)
);

$size: 8px;

$space: (
  xs: 4px,
  sm: 8px,
  md: 16px,
  lg: 24px,
  xl: 32px
)
