body {
  background-color: rgba(var(--grey-000), 1);
  margin: 0;
}

* {
  &::selection {
    background-color: rgba(var(--grey-200), 0.6);
  }
}

.container-outer {
  width: 100%;
  flex-wrap: wrap;
  @include flex(flex-start, flex-start, row);

  & > hr {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.main {
  @include flex(center, center, column);

  & > .container-outer {
    animation: fade 0.6s;
  }
}

.card {
  background-color: rgba(var(--white), 1);
  border: 1px solid rgba(var(--grey-200), 1);
  border-radius: 6px;
  width: 100%;
  overflow: hidden;
  @include flex(center, center, row);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translate3d(0, 16px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

hr {
  width: 100%;
  border-top: 1px solid rgba(var(--grey-200), 1);
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 40px 0;
  @include viewport(sm) {
    margin: 32px 0;
  }
}

blockquote {
  padding-left: 24px !important;
  margin: inherit 0 inherit 32px;
  font-style: italic;
  color: rgba(var(--black), 1);
  border-left: 3px solid rgba(var(--grey-200), 1);
}
