@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600,700&display=swap");

* {
  font-family: "Inter", sans-serif;
  font-weight: map_get($font-weight, medium);
  -webkit-font-smoothing: antialiased;
  line-height: map_get($line-height, lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(var(--black), 1);
  margin: 0;

  & + p {
    color: rgba(var(--grey600), 1);
    font-weight: map_get($font-weight, medium);
    margin: 8px 0 0 0;
  }
}

h1,
h2 {
  line-height: map_get($line-height, lg);
  font-size: 24px;
  font-weight: map_get($font-weight, bold);

  & + p {
    font-size: 18px;
  }
}

h3,
h4 {
  font-size: 18px;
  font-weight: map_get($font-weight, semi-bold);
}

a {
  text-decoration: none;
  color: rgba(var(--black), 1);
  transition: all 0.2s;
  cursor: pointer;
  font-size: 18px;

  &:hover {
    opacity: 0.8;
  }
}

span {
  color: rgba(var(--grey600), 1);
}

p {
  margin: 8px 0 0 0;
  color: rgba(var(--grey600), 1);
  font-size: 18px;

  span,
  a {
    color: rgba(var(--black), 1);
  }
}

strong {
  font-weight: map_get($font-weight, semi-bold);
}
