// Our Type Scale is based on https://type-scale.com/?size=16&scale=1.125&text=A%20Visual%20Type%20Scale&font=Inter&fontweight=400&bodyfont=body_font_default&bodyfontweight=400&lineheight=1.75&backgroundcolor=%23ffffff&fontcolor=%23000000&preview=false

* {
  font-family: "Inter", sans-serif;
  font-weight: map_get($font-weight, regular);
  -webkit-font-smoothing: antialiased;
  line-height: map_get($line-height, lg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: rgba(var(--black), 1);
  font-weight: map_get($font-weight, semi-bold);
}

h1 {
  font-size: var(--scale-9);
}

h2 {
  font-size: var(--scale-8);
}

h1,
h2 {
  line-height: map_get($line-height, xl);

  & + p {
    margin-top: 0.75rem;
  }
}

h3,
h4 {
  font-size: var(--scale-7);
  font-weight: map_get($font-weight, semi-bold);
  line-height: map_get($line-height, md);

  & + p {
    margin-top: 0.75rem;
  }
}

h5 {
  font-weight: map_get($font-weight, semi-bold);
  font-size: var(--scale-6);
  line-height: map_get($line-height, lg);

  & + p {
    margin-top: 0.5rem;
  }
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: rgba(var(--black), 1);
  transition: color 0.2s;
  cursor: pointer;
  font-size: var(--scale-6);
  font-weight: map_get($font-weight, medium);

  & > .icon {
    transition: transform 0.2s !important;
    &:not(.icon-arrow-left) {
      margin-left: 12px;
    }
  }

  &:hover {
    .icon-arrow-right {
      transform: translateX(4px);
    }

    .icon-arrow-left {
      transform: translateX(-4px);
    }
  }
}

p,
li {
  a {
    color: rgba(var(--black), 1);
    text-decoration: underline;
    text-underline-offset: 1px;
    text-decoration-color: rgba(var(--grey-300), 1);
  }
}

p,
span {
  color: rgba(var(--grey-700), 1);
}

p {
  letter-spacing: -0.33px;
  font-size: var(--scale-6);
  margin: 0;

  code {
    margin: 0 4px;
    border-radius: 4px;
    display: inline-block;
    line-height: 28px;
    border: 1px solid rgba(var(--grey-200), 1) !important;
    @include padding(0 8px);
  }

  & + p {
    margin-top: 2rem !important;
  }

  & + a {
    margin-top: 1.5rem !important;

    & ~ a {
      margin-top: 4px;
    }
  }
}

strong {
  font-weight: map_get($font-weight, medium);
}

pre {
  border-radius: 6px;
  margin: 0 !important;
  border: 1px solid rgba(var(--grey-200), 1) !important;
  @include padding(12px 16px !important);
}

pre,
code {
  background: rgba(var(--grey-100), 1) !important;
  text-shadow: none !important;
  color: rgba(var(--black), 1);
  line-height: map_get($line-height, md);
}

code {
  font-family: inherit;
  font-size: var(--scale-5);
  font-family: "Roboto Mono", monospace;
  font-weight: map_get($font-weight, regular);

  .token {
    line-height: inherit;
    font-family: inherit;
    background: inherit;
    color: rgba(var(--grey-700), 1) !important;
  }

  .token.attr-name,
  .token.class-name,
  .token.function,
  .token.tag {
    color: rgba(var(--black), 1) !important;
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    font-weight: map_get($font-weight, medium);
    color: rgba(var(--black), 1) !important;
  }

  .token.builtin,
  .token.number,
  .token.operator,
  .token.punctuation,
  .token.string,
  .token.variable {
    color: rgba(var(--grey-500), 1) !important;
  }

  .token.comment {
    color: rgba(var(--grey-400), 1) !important;
  }
}

blockquote {
  padding-left: 24px !important;
  margin: inherit 0 inherit 32px;
  font-style: italic;
  color: rgba(var(--black), 1);
  border-left: 3px solid rgba(var(--grey-200), 1);
  margin-left: 32px !important;
}
