.color {
    &-white {
      color: rgba(var(--white), 1);
    }
    
    &-grey {
      &-000 {
        color: rgba(var(--grey-000), 1);
      }
      &-100 {
        color: rgba(var(--grey-100), 1);
      }
      &-200 {
        color: rgba(var(--grey-200), 1);
      }
      &-300 {
        color: rgba(var(--grey-300), 1);
      }
      &-400 {
        color: rgba(var(--grey-400), 1);
      }
      &-500 {
        color: rgba(var(--grey-500), 1);
      }
      &-600 {
        color: rgba(var(--grey-600), 1);
      }
      &-700 {
        color: rgba(var(--grey-700), 1);
      }
      &-800 {
        color: rgba(var(--grey-800), 1);
      }
      &-900 {
        color: rgba(var(--grey-900), 1);
      }
    }
  }