
.item {
  margin-top: $size * 4;
  @include flex(space-between, flex-start, row);


  &:first-child {
    margin-top: 0;
  }

  &-right {
    width: 100%;
    margin-left: $size*3;

    h2 {
      line-height: get($font, height, md);
    }
  }

  &-enter-active, &-leave-active {
    transition: opacity .5s ease-in-out;
  }

  &-enter, &-leave-to {
    opacity: 0;
  }

  &-enter-to, &-leave {
    opacity: 1;
  }
}