h1 {
  @apply text-3xl text-gray-900 font-semibold mb-4;
}

* + h1 {
  @apply mt-20
}

h2 {
  @apply text-lg text-gray-900 font-semibold mb-2;
}

h3 {
  @apply text-lg text-gray-900 font-semibold mb-2;
}

p {
  @apply text-gray-700 font-medium text-lg antialiased;
}

li {
  @apply text-gray-700 font-normal text-base;
}

blockquote {
  @apply text-gray-500 font-normal mb-5 border-l-4 pl-4 text-base;
}

p a {
  box-shadow: rgb(17, 25, 36, 0.2) 0px 1px 0px;
  @apply text-gray-800 font-medium transition-colors hover:text-black cursor-pointer inline-block leading-6;
}

h2 a,
h3 a {
  box-shadow: rgb(17, 25, 36, 0.2) 0px 1px 0px;
  @apply text-gray-800 font-semibold transition-colors hover:text-black cursor-pointer;
}

pre {
  @apply text-sm bg-gray-50 border rounded my-6 px-5 py-4;
}

strong {
  @apply text-gray-800 font-medium;
}

p code {
  @apply bg-gray-100 text-sm h-6 rounded px-1 inline-flex items-center font-normal;
}

.icon.variant-first {
  @apply text-gray-700;
}

.icon svg {
  @apply w-full h-full;
}

.meta {
  @apply flex items-center mb-6;
}

.meta span {
  @apply font-normal text-gray-500;
}

p + ul {
  @apply list-disc;
}

p + ul li {
  @apply list-item ml-5;
}

p + ul li:not(:first-child) {
  @apply mt-1
}

@media print {
  @page {
    margin: 20mm 0 10mm 0;
  }

  code {
    -webkit-print-color-adjust: exact !important;
  }
}

.card {
  @apply w-full rounded-xl p-8 relative overflow-hidden flex flex-col cursor-pointer border border-transparent hover:bg-opacity-80 hover:border-gray-200 transition-colors;
}