body {
  @apply bg-slate-dark-1;
}

* {
  @apply antialiased font-medium;

  &::selection {
    @apply bg-white bg-opacity-10;
  }
}

h1 {
  @apply text-2xl text-white font-semibold mb-6 font-serif;
}

h2 {
  @apply text-xl text-white font-semibold w-full mb-4 font-serif;
}

h3 {
  @apply text-lg text-white font-semibold w-full mb-2 mt-6 font-serif;
}

h4 {
  @apply text-base text-white font-semibold w-full font-serif;
}

p {
  @apply text-slate-dark-11 font-medium mb-4 text-base;
}

em {
  @apply font-serif text-slate-dark-12;
}

li {
  @apply text-slate-dark-12 font-medium text-base;
}

p a {
  box-shadow: rgb(255, 255, 255, 0.2) 0px 1px 0px;
  @apply text-white font-medium transition-colors hover:text-white cursor-pointer inline-block leading-6;
}

pre {
  @apply text-sm bg-slate-dark-2 border rounded my-6 px-5 py-4;
}

p code {
  @apply bg-slate-dark-2 text-sm h-6 rounded px-1 inline-flex items-center font-medium;
}

p + ul {
  @apply list-disc;
}

p + ul li {
  @apply list-item ml-5;
}

p + ul li:not(:first-child) {
  @apply mt-1;
}

button {
  @apply h-10 px-4 border border-slate-dark-4 shadow-sm rounded-md flex items-center justify-center text-white bg-slate-dark-3 hover:bg-slate-dark-2 hover:bg-opacity-50 transition-colors;
}

hr {
  @apply my-16;
}

.icon {
  @apply flex justify-center items-center;

  svg {
    @apply w-full h-full;
  }
}

.icon.is-button {
  @apply bg-slate-dark-4 rounded-md h-5 px-1 w-auto;
}

.icon.is-button svg {
  @apply w-3 h-3 text-slate-dark-11;
}

.icon:not(.is-button) {
  @apply w-4 h-4;
}

@media print {
  @page {
    margin: 20mm 0 10mm 0;
  }

  code {
    -webkit-print-color-adjust: exact !important;
  }
}
