* {
  // Colors
  --white: #fff;
  --grey000: #fafbfc;
  --grey100: #f6f8fa;
  --grey200: #e1e4e8;
  --grey300: #d1d5da;
  --grey400: #959da5;
  --grey500: #6a737d;
  --grey600: #586069;
  --grey700: #444d56;
  --grey800: #2f363d;
  --grey900: #24292e;
  --black: #1b1f23;
}

$font-size: (
  10: 12px,
  20: 14px,
  30: 16px,
  40: 18px,
  50: 20px,
  60: 22px,
  70: 24px,
  80: 26px,
  90: 32px,
  100: 40px,
);

$font-weight: (
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

$line-height: (
  sm: 24px,
  lg: 30px,
);

$nudge: 8px;
